<!-- Dashboard de contadores -->
<div class="container-lg justify-content-center my-3">
    <ul class="nav nav-fill">
        <li class="nav-item bg-light me-2">
            <div class="nav-item bg-pink tit-h6 text-danger p-2">Agendados para hoje</div>
            <div class="text-center fs-2 fw-bold p-3 text-danger"> {{ agendamentos_hoje }} </div>
        </li>
        <li class="nav-item bg-light me-2">
            <div class="nav-item bg-pink tit-h6 text-danger p-2">Agendados mês</div>
            <div class="text-center fs-2 fw-bold p-3 text-danger"> {{ agendamentos_mes }} </div>
        </li>
        <li class="nav-item bg-light me-2">
            <div class="nav-item bg-pink tit-h6 text-danger p-2">Cancelamentos</div>
            <div class="text-center fs-2 fw-bold p-3 text-danger"> {{ agendamentos_cancelados }} </div>
        </li>
        <li class="nav-item bg-light me-2">
            <div class="nav-item bg-pink tit-h6 text-danger p-2">Vagas hoje</div>
            <div class="text-center fs-2 fw-bold p-3 text-danger"> {{ vagas_hoje }} </div>
        </li>
        <li class="nav-item bg-light">
            <div class="nav-item bg-pink tit-h6 text-danger p-2">Clientes</div>
            <div class="text-center fs-2 fw-bold p-3 text-danger"> {{ total_clientes }} </div>
        </li>
    </ul>
</div>