<section class="mt-2">
    <nav aria-label="Page navigation">
        {% if dados.has_other_pages %}
        <ul class="pagination">
            {% if dados.has_previous %}
                <li class="page-item">
                    <a class="page-link text-danger" href="?page={{ dados.previous_page_number }}"><i class="fas fa-arrow-alt-circle-left"></i></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href=""><i class="fas fa-arrow-alt-circle-left"></i></a>
                </li>
            {% endif %}
            {% for pagina in dados.paginator.page_range %}
                {% if dados.number == pagina %}
                    <li class="page-item active">
                        <a class="page-link bg-danger fw-bold text-light border-danger">{{pagina}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link text-danger" href="?page={{ pagina }}">{{pagina}}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if dados.has_next %}
                <li class="page-item">
                    <a class="page-link text-danger" href="?page={{dados.next_page_number}}"><i class="fas fa-arrow-alt-circle-right"></i></a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href=""><i class="fas fa-arrow-alt-circle-right"></i></a>
                </li>
            {% endif %}
        {% endif %}
        </ul>
    </nav>
</section>