{% extends 'base.html' %}
{% block content %}
{% include 'partials/_menu.html' %}
    <div class="container-lg">
        <div class="card border-0 bg-light mb-3 shadow-sm">
            <div class="row g-0 p-2">
                <div class="col-sm-2 text-center" style="align-self: center;">
                    <img src="{{cliente.foto.url}}" class="img-fluid img-thumbnail rounded-circle" alt="Fotografia do cliente.">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{cliente.nome}}</h5>
                        <ul class="list-unstyled">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Data de nascimento"><i class="fas fa-user-clock"></i> {{cliente.data_nascimento|date:'d/m/Y'}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Estado civil"><i class="fas fa-ring"></i> {{cliente.get_estado_civil_display}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Sexualidade"><i class="fas fa-venus-mars"></i> {{cliente.get_sexo_display}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Endereço"><i class="fas fa-map-marker-alt"></i> {{cliente.endereco}} </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Identidade"><i class="far fa-id-card"></i> {{cliente.rg}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="CPF"><i class="fas fa-id-card"></i> {{cliente.cpf}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Telefone"><i class="fas fa-phone-square-alt"></i> {{cliente.telefone}} </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Endereço de e-mail"><i class="fas fa-at"></i> {{cliente.email}} </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        <form action="POST">
            <fieldset class="mt-3">
                <legend class="ms-2 text-danger">Anamnese</legend>
                {{form.as_ul}}
            </fieldset>
        </form>
    </div>
{% endblock %}


    cliente = models.ForeignKey(Clientes, on_delete=CASCADE, blank=False)
    altura = models.FloatField(max_length=4)
    peso = models.FloatField(max_length=6)
    fumante = models.BooleanField(default=False)
    bebe = models.BooleanField(default=False)
    filhos = models.BooleanField(default=False)
    filhos_qt = models.IntegerField(default=0, blank=True)
    cirurgia = models.BooleanField(default=False)
    cirurgia_txt = models.TextField(max_length=100, blank=True)
    tratamento_estetico = models.BooleanField(default=False)
    tratamento_estetico_txt = models.TextField(max_length=200, blank=True)
    tratamento_medico = models.BooleanField(default=False)
    tratamento_medico_txt = models.TextField(max_length=200, blank=True)
    tratamento_ortomolecular = models.BooleanField(default=False)
    tratamento_ortomolecular_txt = models.TextField(max_length=150, blank=True)
    alergia = models.BooleanField(default=False)
    alergia_txt = models.TextField(max_length=100, blank=True)
    atividade_fisica = models.BooleanField(default=False)
    atividade_fisica_txt = models.TextField(max_length=150, blank=True)
    intestino_regular = models.BooleanField(default=True)
    ingestao_liquido = models.BooleanField(default=False)
    ingestao_liquido_txt = models.TextField(max_length=100, blank=True)
    gestante = models.BooleanField(default=False)
    hipertensao = models.BooleanField(default=False)
    epilepsia = models.BooleanField(default=False)
    problema_ortopedico = models.BooleanField(default=False)
    problema_ortopedico_txt = models.TextField(max_length=150, blank=True)
    problema_oncologico = models.BooleanField(default=False)
    problema_oncologico_txt = models.TextField(max_length=150, blank=True)
    usa_acido = models.BooleanField(default=False)
    usa_acido_txt = models.TextField(max_length=100, blank=True)
    usa_produtos = models.BooleanField(default=False)
    usa_produtos_txt = models.TextField(max_length=200, blank=True)
    usa_marcapasso = models.BooleanField(default=False)
    usa_metais = models.BooleanField(default=False)
    usa_metais_txt = models.TextField(max_length=100, blank=True)
    usa_anticonsepcional = models.BooleanField(default=False)
    usa_anticonsepcional_txt = models.TextField(max_length=100, blank=True)
    menstruacao_regular = models.BooleanField(default=True)
    lesoes = models.BooleanField(default=False)
    lesoes_txt = models.TextField(max_length=150, blank=True)
    varizes = models.BooleanField(default=False)
    varizes_txt = models.TextField(max_length=50, blank=True)