{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/_menu.html' %}
    <div class="container mt-3">
        {% include 'partials/_alertas.html' %}
        <form action="{% url 'cadastra_cliente' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table table-sm">
                <tr>
                    <td>
                        <label class="form-label" for="nome">Nome</label>
                        <input class="form-control form-control-sm" type="text" name="nome" required>
                    </td>
                    <td>
                        <label class="form-label" for="telefone">Telefone</label>
                        <input class="form-control form-control-sm" type="tel" name="telefone" minlength="13" data-mask="00 00000-0000" placeholder="21 00000-0000" required>
                    </td>
                    <td>
                        <label class="form-label" for="email">E-mail</label>
                        <input class="form-control form-control-sm" type="email" name="email" placeholder="nome@exemplo.com.br" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label" for="rg">RG</label>
                        <input class="form-control form-control-sm" minlength="12" data-mask="00.000.000-0" type="text" name="rg" placeholder="00.000.000-0" required>
                    </td>
                    <td>
                        <label class="form-label" for="cpf">CPF</label>
                        <input class="form-control form-control-sm" minlength="14" data-mask="000.000.000-00" type="text" name="cpf" placeholder="000.000.000-00" required>
                    </td>
                    <td>
                        <label for="foto" class="from-label">Foto</label>
                        <input class="form-control form-control-sm" type="file" name="foto">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label" for="nascimento">Data de nascimento</label>
                        <input class="form-control form-control-sm" type="date" name="nascimento" required>
                    </td>
                    <td>
                        <label for="sexo" class="form-label">Sexo</label>
                        <select name="sexo" class="form-select form-select-sm" aria-label=".form-select-sm" required>
                            <option selected>Selecione</option>
                            <option value="ms">Masculino</option>
                            <option value="fm">Feminino</option>
                        </select>
                    </td>
                    <td>
                        <label for="estado_civil" class="form-label">Estado Civil</label>
                        <select name="estado_civil" class="form-select form-select-sm" required>
                            <option selected>Selecione</option>
                            <option value="sta">Solteira(o)</option>
                            <option value="csa">Casada(o)</option>
                            <option value="dva">Divorciada(o)</option>
                            <option value="vva">Viúva(o)</option>    
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="form-label" for="endereco">Endereço</label>
                        <input class="form-control form-control-sm" type="text" name="endereco" required>
                    </td>
                    <td>
                        <label class="form-label" for="cep">CEP</label>
                        <input class="form-control form-control-sm" data-mask="00000-000" minlength="9" type="text" name="cep" placeholder="0000-000" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="form-floating">
                        <textarea class="form-control" name="observacao" style="height: 200px;" placeholder="Faça um comentário..."></textarea>
                        <label class="form-label" for="observacao">Observações</label>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input class="btn btn-sm btn-danger" type="submit" value="Salvar">
                        <input class="btn btn-sm btn-danger" type="reset" value="Limpar">
                        <a href="{% url 'clientes' %}" class="btn btn-sm btn-danger">Cancelar</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}