{% extends 'base.html' %}
{% block content %}
{% include 'partials/_menu.html' %}
<div class="container">
    <nav class="mb-3">
        <a href="{% url 'index' %}"><i class="btn btn-danger fas fa-home fa-2x"></i></a>
        <a href="#" class="btn btn-danger p-2 fw-bold">SERVIÇOS</a>
        <a href="#" class="btn btn-danger p-2 fw-bold">PACOTES</a>
    </nav>
    <div class="nav text-center p-4 my-4 bg-light">
        <div class="card bg-success me-2 mb-2 nav-fill flex-fill shadow">
            <div class="card-header text-white"> SALDO ANUAL</div>
            <div class="card-body row">
                <div class="col">
                    <h3 class="card-title text-white fw-bold">
                        {% if vendas_ano %}
                            R$ {{vendas_ano.valor__sum}}
                        {% endif %}
                    </h3>
                    <h6 class="text-white">Recebido</h6>
                </div>
                <div class="col">
                    <h3 class="card-title text-white fw-bold">R$5.000,00</h3>
                    <h6 class="text-white">À receber</h6>
                </div>
            </div>
        </div>
        <div class="card bg-info me-2 mb-2 nav-fill flex-fill shadow">
            <div class="card-header text-white">SALDO MENSAL</div>
            <div class="card-body row">
                <div class="col">
                    <h3 class="card-title text-white fw-bold">
                        {% if vendas_mes %}
                            R$ {{vendas_mes.valor__sum}}
                        {% endif %}
                    </h3>
                    <h6 class="text-white">Recebido</h6>
                </div>
                <div class="col">
                    <h3 class="card-title text-white fw-bold">R$2.500,00</h3>
                    <h6 class="text-white">À receber</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped col">
            <thead>
                <tr class="text-danger">
                    <th>SERVIÇOS</th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for procedimento in procedimentos %}
                <tr>
                    <td class="align-middle"> {{ procedimento.procedimento }} </td>
                    <td class="align-middle text-center"> R$ {{ procedimento.valor|floatformat:2}} </td>
                    <td class="align-middle text-center">
                        <a class="btn btn-info btn-sm" href="#"><i class="fas fa-edit"></i></a>
                        <a class="btn btn-danger btn-sm" href="#"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>          
                <tr>
                    <td colspan="3">
                        <div class="input-group">
                            <input class="form-control" type="text" name="servico" placeholder="Serviço">
                            <input class="form-control" type="text" name="valor" placeholder="Valor">
                            <input class="btn btn-success btn-sm input-grup-text" type="submit" value="ADICIONAR">
                        </div>
                    </td>
                </tr>
        </table>
        <ul class="col-md-5">
            <li class="list-group-item list-group-item-action d-flex bg-danger border-danger active" aria-current="true">TOTAL/MÊS POR SERVIÇO</li>
            
                {% for venda in vendas_serv_mes %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{venda.procedimento__procedimento}}
                    <span class="badge bg-danger">R${{venda.valor__sum}}</span>
                </li>
                {% endfor %}
            
        </ul>
    </div>
</div>

{% endblock %}