{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'partials/_menu.html' %}
    <div class="container mt-3">
        {% include 'partials/_alertas.html' %}
        <form action="{% url 'cria_agendamento' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <td colspan="3">
                        <label class="form-label" for="cliente">Cliente:</label>
                        <select  class="form-select form-select-sm" name="cliente" aria-label=".form-select.sm" required>
                            <option class="text-secondary" selected>Selecione...</option>
                            {% for cliente in clientes %}
                                <option value="{{cliente.id}}">
                                    {{ cliente.nome }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <label class="form-label" for="cor">Cor</label>
                        <input type="color" name="cor" class="form-control form-control-color form-control-sm">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="form-label" for="procedimento">Procedimento</label>
                        <select class="form-select form-select-sm" name="procedimento" aria-label=".form-select.sm" required>
                            <option class="text-secondary" selected>Selecione...</option>
                            {% for procedimento in procedimentos %}
                                <option value="{{procedimento.id}}">
                                    {{procedimento.procedimento}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td colspan="3">
                        <label class="form-label" for="local">Local</label>
                        <select class="form-select form-select-sm" name="local" aria-label=".form-select.sm" required>
                            <option class="text-secondary" selected>Selecione...</option>
                            {% for local in locais %}
                                <option value="{{local.id}}">
                                    {{local.local}}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% now "SHORT_DATE_FORMAT" as hoje %}
                        <label class="form-label" for="data">Data</label>
                        <input type="date" name="data" class="form-select form-select-sm" required>
                    </td>
                    <td>
                        <label class="form-label" for="hora">Hora</label>
                        <input type="time" name="hora" class="form-control form-control-sm" required>
                    </td>
                    <td style="max-width: 30px;">
                        <label class="form-label" for="sessoes">Seções</label>
                        <input class="form-control form-control-sm" type="number" name="sessoes" min="1" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <label class="form-label" for="observacao">Observação</label>
                        <textarea name="observacao" id="" cols="30" rows="10" class="form-control form-control-sm"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit" value="Agendar" class="btn btn-sm btn-danger">
                        <input type="reset" value="Limpar" class="btn btn-sm btn-danger">
                        <a href="{% url 'agendamentos' %}" class="btn btn-sm btn-danger">Cancelar</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}