*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.borda-red{
    border: 1px solid #990000;
    border-radius: 7px;
}
.bg-red{
    background-color: #990000;
}
.bg-pink{
    background-color: #F8CECC;
}
#menu ul li{
    min-width: 140px;
}
.tit-h6{
    color: #990000;
    font-size: 12px;
    font-weight: bold;

    border-radius: 5px 5px 0 0;
}
#acord{
    max-width: 505px;
}
#form-clientes{
    display: none;
}